[Unit]
Description=Sheaf dev server
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/mbrock/sheaf
EnvironmentFile=/home/mbrock/sheaf/.env
Environment=MIX_ENV=dev
ExecStart=/home/mbrock/sheaf/bin/serve
Restart=always
RestartSec=3
SyslogIdentifier=sheaf
TimeoutStopSec=15
KillMode=mixed
KillSignal=SIGTERM

[Install]
WantedBy=default.target
